title: "My Personal Website"
description: "Personal website built with Jekyll"
baseurl: "" # Root domain
url: "https://nyusifov23995.github.io" # GitHub Pages URL

permalink: /:title/
markdown: kramdown

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
