title: "My Personal Website"
description: "Personal website built with Jekyll"
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site

permalink: /:title/
markdown: kramdown

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
